div,
ul,
li,
a {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

@font-face {
    font-family: 'iconfont';
    src: url('icos/iconfont.woff2?t=1659151412755') format('woff2'),
        url('icos/iconfont.woff?t=1659151412755') format('woff'),
        url('icos/iconfont.ttf?t=1659151412755') format('truetype');
}

.iconfont {
    cursor: default;
    text-align: center;
    font-family: "iconfont" !important;
    font-size: 45px;
    font-style: normal;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .3s;
}

.iconfont:hover {
    font-size: 56px;
}

li {

    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #5bb7b9;
}

.common-div {
    border-radius: 20px;
    background-color: #5bb7b9;
    box-shadow: 3px 3px 6px #4d9c9d, -3px -3px 6px #69d2d5;
    transition: all .3s;
}

.common-div:hover {
    transform: scale(1.01);
    box-shadow: 6px 6px 12px #4d9c9d, -6px -6px 12px #69d2d5;
}
.title{
    margin: 0px auto;
    margin-top: 15px;
    padding-left: 23px;
    width: 307px;
    height: 50px;
    font-size: 29px;
    line-height: 50px;
    /* background-color: rgba(153, 212, 26, 0.3); */
}
.mywork {
    margin: 0px auto;
    margin-top: 15px;
    width: 330px;
    height: 387px;
}

.mywork-title {
    width: 100%;
    height: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    /* background-color: #8cd614; */
}

.appsshell {
    margin: 0px auto;
    width: 300px;
    height: 327px;
    /* background-color: rgba(26, 124, 210, .3); */
}

.appshell {
    float: left;
    margin-top: 9px;
    margin-left: 9px;
    width: 88px;
    height: 150px;
    /* background-color: rgba(238, 176, 187, .3); */
}

div[class^=aimg] {
    margin: 0px auto;
    margin-top: 5px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    /* background-color: rgba(118, 33, 198, .3); */
}

.appname {
    width: 100%;
    height: 30px;
    font-size: 9px;
    text-align: center;
    line-height: 30px;
    /* background-color: rgba(28, 189, 170,.3); */
}

.appdonload {
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-size: 9px;
    text-align: center;
    line-height: 25px;

}