.shell{
    margin: 20px auto;
    width: 350px;
    height: 900px;
    background-color: aqua;
}
.namebox{
    margin: 0px auto;
    width: 300px;
    height: 80px;
    background-color: rgb(200, 250, 16);
    text-align: center;
    line-height: 80px;
    color: #fff;
}